<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>container:</th>
      <td>{{ pod }}</td>
    </tr>
    <tr>
      <th>host:</th>
      <td>{{ node }}</td>
    </tr>
  </table>
</div>
<div id="footer">
  {{ container }}
</div>
